.intraction-box {
  background-image: url("/static/Successimg.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: max-content;
}
.box-title h3 {
  font-family: "Poppins", sans-serif;
}
.container {
  margin-top: 80px;
}
.intraction-box .box {
  background: #fff;
  opacity: 0.9;
  border-radius: 10px;
  padding: 40px 10px;
  margin: 20px 0px;
  transition: all 0.5s ease-out;
}
.intraction-box .box:hover {
  box-shadow: 0 0 6px #4183d7;
}

.intraction-box .box .box-text {
  margin: 20px 0px;
  font-size: 15px;
  line-height: 30px;
}

.fa {
  color: #4183d7;
}
/* All css Apply */
